Repository leikoilja/glocaltokens: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, flake8, pylint

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy glocaltokens tests
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

Refactor scanner (#158)
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/scanner.py
  glocaltokens/types.py
  tests/test_client.py
  tests/test_scanner.py
Due: black, isort, mypy, flake8, pylint

Match devices by unique ID
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/scanner.py
Due: black, isort, mypy, flake8, pylint

Log unique id
  glocaltokens/client.py
Due: black, isort, mypy, flake8, pylint

Match devices by unique ID (#160)
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/scanner.py
Due: black, isort, mypy, flake8, pylint

Fix build status badge
  README.md
Due: none

Fix build status badge (#161)
  README.md
Due: none

Fix package name in proto file
  glocaltokens/google/internal/home/foyer/v1.proto
  glocaltokens/google/internal/home/foyer/v1_pb2.py
Due: black, isort, mypy, flake8

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Small cleanup in proto file (#162)
  CONTRIBUTING.md
  glocaltokens/google/internal/home/foyer/v1.proto
  glocaltokens/google/internal/home/foyer/v1_pb2.py
Due: black, isort, mypy, flake8

Make generated protobuf files compatible with googlewifi
  CONTRIBUTING.md
  glocaltokens/google/internal/home/foyer/v1_pb2.py
Due: black, isort, mypy, flake8

Make generated protobuf files compatible with googlewifi (#163)
  CONTRIBUTING.md
  glocaltokens/google/internal/home/foyer/v1_pb2.py
Due: black, isort, mypy, flake8

Create Sjenica1
  Sjenica1
Due: none

Change logging level from error to warning
  glocaltokens/client.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Change logging level from error to warning (#181)
  glocaltokens/client.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Add Kodiak github app
  .kodiak.toml
Due: none

Add Kodiak github app (#197)
  .kodiak.toml
Due: none

Revert poetry update
  glocaltokens/client.py
  glocaltokens/const.py
  tests/factory/providers.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Re-add disable discovery
  glocaltokens/client.py
  glocaltokens/scanner.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Don't change anything in scanner.py
  glocaltokens/scanner.py
Due: black, isort, mypy, flake8, pylint

Update glocaltokens/client.py
  glocaltokens/client.py
Due: black, isort, mypy, flake8, pylint

Add possibility of using an address list instead (#202)
  glocaltokens/client.py
  glocaltokens/const.py
  tests/factory/providers.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Update grpcio
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: none

Python build matrix
  .github/workflows/build.yml
Due: none

Drop py3.10 workflow
  .github/workflows/build.yml
Due: none

Adjust actions
  .github/workflows/build.yml
Due: none

Put back action version
  .github/workflows/build.yml
Due: none

Bump grpcio==1.43.0 (#214)
  .github/workflows/build.yml
  poetry.lock
  pyproject.toml
Due: none

Move grpcio-tools to dev dependencies
  poetry.lock
  pyproject.toml
Due: none

Move grpcio-tools to dev dependencies (#216)
  poetry.lock
  pyproject.toml
Due: none

Resolvig HA dependency conflicts
  poetry.lock
  pyproject.toml
Due: none

Resolvig HA dependency conflicts (#219)
  poetry.lock
  pyproject.toml
Due: none

Added ValueError handler for long passwords. Fixes #229
  glocaltokens/client.py
Due: black, isort, mypy, flake8, pylint

Changed try-catch wrapping
  glocaltokens/client.py
Due: black, isort, mypy, flake8, pylint

Added long password test
  glocaltokens/client.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Moved res initializer
  glocaltokens/client.py
Due: black, isort, mypy, flake8, pylint

Added `ValueError` handler for long passwords (#231)
  glocaltokens/client.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Bump gpsoauth to v1.0.1
  poetry.lock
  pyproject.toml
Due: none

Bump gpsoauth to v1.0.1 (#248)
  poetry.lock
  pyproject.toml
Due: none

Remove no-self-use ignore
  tests/factory/providers.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$, but not: ^glocaltokens/google/
