Repository leikoilja/glocaltokens: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, flake8, pylint

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy glocaltokens tests
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

Generate mypy stubs for protobuf (#82)
  .pre-commit-config.yaml
  glocaltokens/client.py
  glocaltokens/google/internal/home/foyer/v1_pb2.pyi
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.pyi
  glocaltokens/scanner.py
  setup.cfg
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Add type hints to tests, enable strict checks
  glocaltokens/client.py
  glocaltokens/const.py
  setup.cfg
  tests/assertions.py
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
  tests/test_utils.py
Due: black, isort, mypy, flake8, pylint

Add type hints to tests, enable strict checks (#83)
  glocaltokens/client.py
  glocaltokens/const.py
  setup.cfg
  tests/assertions.py
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
  tests/test_utils.py
Due: black, isort, mypy, flake8, pylint

Setup codespell
  .pre-commit-config.yaml
  CONTRIBUTING.md
  glocaltokens/client.py
  glocaltokens/utils/logs.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_scanner.py
Due: black, isort, mypy, flake8, pylint

Setup Prettier
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/build.yml
  .pre-commit-config.yaml
  README.md
Due: none

Setup codespell (#85)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/build.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  glocaltokens/client.py
  glocaltokens/utils/logs.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/test_scanner.py
Due: black, isort, mypy, flake8, pylint

Generate 16 chars android id
  glocaltokens/client.py
  glocaltokens/const.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Fix MAC address generation
  glocaltokens/client.py
  glocaltokens/const.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Generate in lowercase
  glocaltokens/client.py
Due: black, isort, mypy, flake8, pylint

Fix MAC address generation (#84)
  glocaltokens/client.py
  glocaltokens/const.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Release 0.3.1
  pyproject.toml
  setup.cfg
Due: none

Release 0.3.1 (#86)
  pyproject.toml
  setup.cfg
Due: none

Action to automatically publish new version on PyPI
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Fix labeler config
  .github/labeler.yml
Due: none

Use env field
  .github/workflows/publish.yml
Due: none

Set token in config
  .github/workflows/publish.yml
Due: none

Fix labeler config (#90)
  .github/labeler.yml
Due: none

Action to automatically publish new version on PyPI (#89)
  .github/workflows/publish.yml
  pyproject.toml
Due: none

Modernise type hints
  .github/workflows/linting-and-testing.yaml
  .pre-commit-config.yaml
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/scanner.py
  glocaltokens/utils/logs.py
  glocaltokens/utils/network.py
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
Due: black, isort, mypy, flake8, pylint

Fix link in README
  README.md
Due: none

Better pre-commit link
  README.md
Due: none

Fix link in README (#93)
  README.md
Due: none

Modernise type hints (#92)
  .github/workflows/linting-and-testing.yaml
  .pre-commit-config.yaml
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/scanner.py
  glocaltokens/utils/logs.py
  glocaltokens/utils/network.py
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
Due: black, isort, mypy, flake8, pylint

Update flake8-simplify
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

Update flake8-simplify (#108)
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

Adding downloads badge to the README
  .github/workflows/build.yml
  README.md
Due: none

Adding downloads badge to the README (#127)
  .github/workflows/build.yml
  README.md
Due: none

Grabbing unique device id from foyer API
  glocaltokens/client.py
  glocaltokens/types.py
  tests/assertions.py
  tests/factory/providers.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Update typing
  glocaltokens/types.py
Due: black, isort, mypy, flake8, pylint

Grabbing unique device id from foyer API (#145)
  glocaltokens/client.py
  glocaltokens/types.py
  tests/assertions.py
  tests/factory/providers.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Ignoring faker initializations
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
  tests/test_utils.py
Due: black, isort, mypy, flake8, pylint

Update v1.proto
  glocaltokens/google/internal/home/foyer/v1.proto
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2.pyi
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.pyi
Due: black, isort, mypy, flake8

Update v1.proto (#155)
  glocaltokens/google/internal/home/foyer/v1.proto
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2.pyi
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.pyi
Due: black, isort, mypy, flake8

Unconstraint zeroconf version
  poetry.lock
  pyproject.toml
Due: none

Unconstraint zeroconf version (#156)
  poetry.lock
  pyproject.toml
Due: none

Fix potential infinite loop in get_homegraph
  glocaltokens/client.py
Due: black, isort, mypy, flake8, pylint

Add unit test
  glocaltokens/client.py
  setup.cfg
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Fix potential infinite loop in get_homegraph (#159)
  glocaltokens/client.py
  setup.cfg
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Refactor scanner
  glocaltokens/client.py
  glocaltokens/const.py
  glocaltokens/scanner.py
  glocaltokens/types.py
  tests/test_client.py
  tests/test_scanner.py
Due: black, isort, mypy, flake8, pylint

Restore tests
  tests/test_scanner.py
Due: black, isort, mypy, flake8, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$, but not: ^glocaltokens/google/
