Repository leikoilja/glocaltokens: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, flake8, pylint

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  require_serial: true

mypy:
  name: mypy
  entry: poetry run mypy glocaltokens tests
  language: system
  pass_filenames: false

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

Update dependencies
  glocaltokens/scanner.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

Update dependencies (#256)
  glocaltokens/scanner.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8, pylint

Update generated protobuf files
  CONTRIBUTING.md
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2.pyi
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.pyi
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8

Update generated protobuf files (#262)
  CONTRIBUTING.md
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2.pyi
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.pyi
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8

Relax requirements for deps which are pinned in HA
  poetry.lock
  pyproject.toml
Due: none

Relax requirements for deps which are pinned in HA (#263)
  poetry.lock
  pyproject.toml
Due: none

Automatically strip +tag part from username
  glocaltokens/client.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Escape plus sign in the username
  glocaltokens/client.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Escape plus sign in the username (#271)
  glocaltokens/client.py
  tests/test_client.py
Due: black, isort, mypy, flake8, pylint

Restore previous version of generated proto file
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8

Restore previous version of generated proto file (#274)
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  poetry.lock
  pyproject.toml
Due: black, isort, mypy, flake8

Fix typo
  CONTRIBUTING.md
Due: none

Relax requirements for deps which are pinned in HA (#287)
  poetry.lock
  pyproject.toml
Due: none

Add setuptools
  poetry.lock
  pyproject.toml
Due: none

Update Poetry
  .github/workflows/build.yml
  .github/workflows/linting-and-testing.yaml
  .github/workflows/publish.yml
Due: none

Bump poetry to 1.3.2
  .github/workflows/build.yml
  .github/workflows/linting-and-testing.yaml
  .github/workflows/publish.yml
Due: none

Bump poetry to 1.3.2 (#313)
  .github/workflows/build.yml
  .github/workflows/linting-and-testing.yaml
  .github/workflows/publish.yml
Due: none

Fix build badge
  README.md
Due: none

Fix build badge (#314)
  README.md
Due: none

Disable release-drafter job on PRs
  .github/workflows/release-drafter.yml
Due: none

Disable release-drafter job on PRs (#325)
  .github/workflows/release-drafter.yml
Due: none

Switch minimum supported Python to 3.9
  .github/workflows/build.yml
  .github/workflows/linting-and-testing.yaml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

Add build on other platforms back
  .github/workflows/build.yml
Due: none

Switch minimum supported Python to 3.9 (#327)
  .github/workflows/build.yml
  .github/workflows/linting-and-testing.yaml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.cfg
Due: none

Use ghome-foyer-api package
  glocaltokens/client.py
  glocaltokens/google/__init__.py
  glocaltokens/google/internal/__init__.py
  glocaltokens/google/internal/home/__init__.py
  glocaltokens/google/internal/home/foyer/__init__.py
  glocaltokens/google/internal/home/foyer/v1.proto
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2.pyi
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.pyi
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/assertions.py
  tests/factory/providers.py
Due: black, isort, mypy, flake8, pylint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Use ghome-foyer-api package (#337)
  CONTRIBUTING.md
  glocaltokens/client.py
  glocaltokens/google/__init__.py
  glocaltokens/google/internal/__init__.py
  glocaltokens/google/internal/home/__init__.py
  glocaltokens/google/internal/home/foyer/__init__.py
  glocaltokens/google/internal/home/foyer/v1.proto
  glocaltokens/google/internal/home/foyer/v1_pb2.py
  glocaltokens/google/internal/home/foyer/v1_pb2.pyi
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.py
  glocaltokens/google/internal/home/foyer/v1_pb2_grpc.pyi
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/assertions.py
  tests/factory/providers.py
Due: black, isort, mypy, flake8, pylint

Update Faker
  poetry.lock
  pyproject.toml
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
  tests/test_utils.py
Due: black, isort, mypy, flake8, pylint

Update Faker (#338)
  poetry.lock
  pyproject.toml
  tests/factory/providers.py
  tests/test_client.py
  tests/test_scanner.py
  tests/test_utils.py
Due: black, isort, mypy, flake8, pylint

Fix potential security vulnerabilities
  poetry.lock
Due: none

Fix potential security vulnerabilities (#339)
  poetry.lock
Due: none

Fix typo
  glocaltokens/scanner.py
Due: black, isort, mypy, flake8, pylint

Pin grpcio
  poetry.lock
  pyproject.toml
Due: none

Fix typo, add ignore
  CONTRIBUTING.md
  pyproject.toml
Due: none

Fix typing error
  glocaltokens/scanner.py
Due: black, isort, mypy, flake8, pylint

Update dev dependencies
  poetry.lock
  pyproject.toml
  tests/test_client.py
  tests/test_utils.py
Due: black, isort, mypy, flake8, pylint

Update dev dependencies (#469)
  poetry.lock
  pyproject.toml
  tests/test_client.py
  tests/test_utils.py
Due: black, isort, mypy, flake8, pylint

Censor password better
  glocaltokens/client.py
  glocaltokens/utils/logs.py
  tests/test_utils.py
Due: black, isort, mypy, flake8, pylint

Better comment
  glocaltokens/utils/logs.py
Due: black, isort, mypy, flake8, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$, but not: ^glocaltokens/google/
